/* CSS Reset */
*{
    margin: 0px;
    padding: 0px;
  }

/* Navigation Bar */
#navbar{
    position: relative;
    display: flex;
    align-items: center;
    padding: 0px 40px 0px 40px;
    justify-content: space-between;
    height: 100px;
}
#logo a{
/* position: absolute; */
text-decoration: none;
font-family: 'Itim', cursive;
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 42px;
color: #354DC4;
}

/* Navigation Bar : list styling */
#navbar ul{
    display: flex;
    align-items: center;
    font-family: 'Inter';
    font-style: bold;
    font-weight: 800;
    font-size: 24px;
    line-height: 20px;
    list-style: none;
}

.item a{
    display: block;
    width: 180px;
    height: 34px;
    margin: 0px 10px;
    padding-top: 10px;
    text-align: center;
    text-decoration: none;
    background: #8845F4;
    border-radius: 10px;
    color: white;
}
.item1 a{ 
    display: block;
    width: 180px;
    height: 34px;
    margin: 0px 10px;
    padding-top: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    border-width: 0px 1px;
    border-style: solid;
    border-color: #354DC4;
    color: black;
}

/* Background Design*/

#d1{   
    position: absolute;
    width: 115.22px;
    height: 92.45px;
    right: 0px;
    top: 114px;
    background-image: url("/image/Design1.png");
}
#d2{
    position: absolute;
    width: 340.84px;
    height: 282.84px;
    left: 0px;
    top: 500px;
    background-image: url("/image/Design2.png");
}
#dp{
    box-sizing: border-box;
    background-image: url(/image/DP.png);
    position: absolute;
    width: 500px;
    height: 500px;
    right: 80px;
    top: 170px;
}
#intro{
    position: absolute;
    left: 100px;
    top: 180px;

    font-family: 'Cantarell';
    font-style: normal;
    font-weight: 700;
    font-size: 90px;
    line-height: 100px;
    letter-spacing: -0.05em;
}
#cv{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 350px;
    height: 150px;
    left: 448px;
    top: 455px;
    font-family: 'Inter';
    font-style: bold;
    font-weight: 800;
    font-size: 25px;
    line-height: 30px;
    color: #8845F4;
}

#cv button{
    width: 190px;
    height: 55px;
    margin-top: 30px;
    border: 6px solid #8845F4;
    background-color: white;
    box-shadow: inset 0px 4px 3px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 1000;
    font-size: 22px;
}

#cv button a{
    text-decoration: none;
    color: black;
}