/* CSS Reset */
*{
    margin: 0px;
    padding: 0px;}

/* Navigation Bar */
nav{
    display: flex;
    align-items: center;
    padding: 0 0vw 0 2.93vw;
    justify-content: space-between;
    width: 95vw;
    height: 7.32vw;}
#logo{
    display: inline;
    text-decoration: none;
    margin-right: 2.93vw;
    font-family: 'Itim', cursive;
    font-size: 2.56vw;
    color: #354DC4;}
/* Navigation Bar : list styling */
nav ul{
    display: flex;
    font-family: 'Inter';
    font-weight: 800;
    font-size: 20px;
    list-style: none;}
.item a{
    display: block;
    width: 150px;
    height: 30px;
    margin: 0px 10px;
    padding-top: 5px;
    text-align: center;
    text-decoration: none;
    background: #8845F4;
    border-radius: 10px;
    color: white;}
.item1 a{ 
    display: block;
    width: 150px;
    height: 30px;
    margin: 0px 10px;
    padding-top: 5px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    border-width: 0px 1px;
    border-style: solid;
    border-color: #354DC4;
    color: black;}

/* Grid Design */
.parent {
    display: grid;
    grid-template-columns: 26vw 28vw 36vw 8vw;
    grid-template-rows: 17.71vw 24.16vw;}
.div1 { grid-area: 1 / 1 / 2 / 3; }
.div2 { grid-area: 1 / 3 / 3 / 4; }
.div3 { grid-area: 1 / 4 / 2 / 5; }
.div4 { grid-area: 2 / 1 / 3 / 2; }
.div5 { grid-area: 2 / 2 / 3 / 3; }


/* Background Design*/
#d1{   
    width: 8.43vw;
    height: 6.76vw;    
    margin: 1.1vw 0 0 0.3vw;
    background-size: cover;
    background-image: url("/image/Design1.png");}
#d2{
    width: 24.95vw;
    height: 20.7vw;
    background-size: cover;
    margin: 8.05vw 0 0 0vw;
    background-image: url("/image/Design2.png");}

/* Display Profile Image */
#dp{
    box-sizing: border-box;
    background-image: url(/image/DP.png);
    background-size: cover;
    width: 32.94vw;
    height: 32.94vw;
    margin: 4.4vw 0 0 4.2vw;}


#intro{
    margin: 2.92vw 0 0 8.05vw;
    display: inline-block;
    font-family: 'Cantarell';
    font-weight: 700;
    font-size: 5.124vw;
    letter-spacing: -0.05em;}
#cv{
    display: flex;
    flex-direction: column;
    margin: 7.32vw 0 0 3vw;
    font-family: 'Inter';
    font-weight: 800;
    font-size: 1.83vw;
    color: #8845F4;}
#cv a{
    width: 13.908vw;
    height: 2.63vw;
    margin-top: 1.83vw;
    padding-top: 0.585vw;
    border: 0.44vw groove #8845F4;
    border-radius: 1.31vw;
    text-align: center;
    font-size: 1.61vw;
    font-weight: 400;
    text-decoration: none;
    color: black;}

/* About me */
#about{
    display: flex;
    width: 98vw;
    background-image: url(/image/about_bg.png);
    /* align-items: center; */
    justify-content: space-evenly;
}
#about .image{
    width: 438px;
    height: 402px;
    margin: 95px 0px;
    background-image: url(/image/image1.png);
}
#about h1{
    font-family: 'Cantarell';
    font-style: normal;
    font-weight: 700;
    margin-top: 50px;
    font-size: 50px;
}
#about p{
    font-family: 'Cantarell';
    font-style: normal;
    width: 602px;
    color: #494949;
    font-weight: 500;
    font-size: 25px;
}

/* Projects */
#projects{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#projects .container1 {
    display: grid;
    grid-template-columns: repeat(2, 310px) 207px;
    grid-template-rows: repeat(3, 160px);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    background-color: black;
    border-radius: 25px;
    border: 5px solid black;
} 
.card{
    background-color: #D5D5D5; 
    border-radius: 20px;
}   
.project1 { grid-area: 1 / 1 / 3 / 3; }
.project2 { grid-area: 1 / 3 / 2 / 4; }
.project3 { grid-area: 3 / 1 / 4 / 2; }
.project4 { grid-area: 3 / 2 / 4 / 3; }
.project5 { grid-area: 2 / 3 / 4 / 4; }
#projects .container2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#projects h1{
    font-family: 'Cantarell';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
}
#projects .image{
    background-image: url(/image/image2.png);
    
    width: 400px;
    height: 400px;
}

/* Contact */
.row{
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0px;
    align-items: center;
}
footer{
    background-color: #151414;
    margin-top: 40px;    
    font-family: 'Cantarell';
    font-weight: 700;
}
.contact-box{
    display: flex;
    align-items: center;
    padding: 10px;
}
.phone{
    background-image: url(/image/telephone.png);
}
.mail{
    background-image: url(/image/mail.png);
}
.location{
    background-image: url(/image/placeholder.png);
}
.contact-box__icon{
    display: inline-block;
    margin: 0px 10px;
    width: 60px;
    height: 60px;
}
.contact-box a{
    font-size: 25px;
    color: #FFFFFF;
    text-decoration: none;
}
.contact-box p{
    font-size: 16px;
    color: #6C757D;
}

.sm{
    background-color: #212529;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px 0px;
}
.sm-logo a{
    color: white;
    font-size: 35px;
    margin: 0px 5px;
}
.sm p{
    font-size: 23px;
    color: white;
}

.copyright{
    background-color: black;
    text-align: center;
    font-size: 20px;
    color: #767676;
    padding: 10px 0px;
    display: flex;
    justify-content: center;
}
.copyright p{
    color: white;
    display: inline;
    margin-left: 5px;
}