/* CSS Reset */
*{
    margin: 0px;
    padding: 0px;}

/* Navigation Bar */
nav{
    display: flex;
    align-items: center;
    padding: 0 0 0 2.93vw;
    justify-content: space-between;
    height: 7.32vw;}

/* Navigation Bar : Drop Down Menu */    
.dropdown{
    display: none;}
.dropbtn {
    width: 30px;
    height: 24px;
    background-color: white;
    background-image: url(/image/nav_menu.png);
    border: none;}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    font-family: 'Inter';
    font-weight: 800;
    text-decoration: none;
    display: block;}
.dropdown-content a:hover {
    background-color: #8845F4;
    color: white;}
.dropdown:hover .dropdown-content {
    display: block;}

/* Navigation Bar : Logo*/
#logo{
    display: inline;
    text-decoration: none;
    margin-right: 2.93vw;
    font-family: 'Itim', cursive;
    font-size: 2.56vw;
    color: #354DC4;}
@media only screen and (max-width: 1000px) {
    #logo{
    font-size: 28px;
    }}

/* Navigation Bar : list styling */
nav ul{
    display: flex;
    font-family: 'Inter';
    font-weight: 800;
    font-size: 20px;
    list-style: none;}
.item a{
    display: block;
    width: 150px;
    height: 30px;
    margin: 0px 10px;
    padding-top: 5px;
    text-align: center;
    text-decoration: none;
    background: #8845F4;
    border-radius: 10px;
    color: white;}
.about a{ 
    background: white;
    border: solid #354DC4;
    border-width: 0px 1px;
    color: black;}


/* Grid Design */
.parent {
    display: grid;
    grid-template-columns: 26vw 28vw 36vw 8vw;
    grid-template-rows: 17.71vw 24.16vw;}
.div1 { grid-area: 1 / 1 / 2 / 3; }
.div2 { grid-area: 1 / 3 / 3 / 4; }
.div3 { grid-area: 1 / 4 / 2 / 5; }
.div4 { grid-area: 2 / 1 / 3 / 2; }
.div5 { grid-area: 2 / 2 / 3 / 3; }

/* Background Design*/
#d1{   
    width: 8.43vw;
    height: 6.76vw;    
    margin: 1.1vw 0 0 0.3vw;
    background-size: cover;   
    background-image: url("/image/Design1.png");}
#d2{
    width: 24.95vw;
    height: 20.7vw;
    margin: 8.05vw 0 0 0vw;
    background-size: cover;   
    background-image: url("/image/Design2.png");}

/* Display Profile Image */
#dp{
    box-sizing: border-box;
    background-image: url(/image/DP.png);
    background-size: cover;
    width: 32.94vw;
    height: 32.94vw;
    margin: 4.4vw 0 0 4.2vw;}


#intro{
    margin: 2.92vw 0 0 8.05vw;
    display: inline-block;
    font-family: 'Cantarell';
    font-weight: 700;
    font-size: 5.124vw;
    letter-spacing: -0.05em;}
#cv{
    display: flex;
    flex-direction: column;
    margin: 7.32vw 0 0 3vw;
    font-family: 'Inter';
    font-weight: 800;
    font-size: 1.83vw;
    color: #8845F4;}
#cv a{
    width: 13.908vw;
    height: 2.63vw;
    margin-top: 1.83vw;
    padding-top: 0.585vw;
    border: 0.44vw groove #8845F4;
    border-radius: 1.31vw;
    text-align: center;
    font-size: 1.61vw;
    font-weight: 400;
    text-decoration: none;
    color: black;}

/* About me */
#about{
    display: flex;
    width: 98vw;
    background-image: url(/image/about_bg.png);
    background-size: cover;
    justify-content: space-evenly;
}
#about .image{
    width: 32.1vw;
    height: 29.42vw;
    margin: 6.95vw 0px;
    background-image: url(/image/image1.png);
    background-size: cover;
}
#about h1{
    font-family: 'Cantarell';
    margin-top: 3.66vw;
    font-size: 3.66vw;
}
#about p{
    font-family: 'Cantarell';
    width: 44.7vw;
    color: #494949;
    font-size: 1.83vw;
}

/* Projects */
#projects{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#projects .container1 {
    display: grid;
    grid-template-columns: repeat(2, 22.7vw) 15.15vw;
    grid-template-rows: repeat(3, 11.71vw);
    grid-column-gap: 0.35vw;
    grid-row-gap: 0.35vw;
    background-color: black;
    border-radius: 1.83vw;
    border: 0.35vw solid black;
} 
.card{
    background-color: #D5D5D5; 
    border-radius: 1.46vw;
    overflow: hidden;
}   
.project1 { 
    grid-area: 1 / 1 / 3 / 3;
    background-image: url(/image/Portfolio.png);
    background-size: cover;
 }
.project2 { 
    grid-area: 1 / 3 / 2 / 4; 
    background-image: url(/image/Humaya-Enterprises.jpg);
    background-size: cover;
}
.project3 { grid-area: 3 / 1 / 4 / 2; }
.project4 { grid-area: 3 / 2 / 4 / 3; }
.project5 { grid-area: 2 / 3 / 4 / 4; }
#projects .container2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#projects h1{
    font-family: 'Cantarell';
    font-size: 3.66vw;
}
#projects .image{
    background-image: url(/image/image2.png);
    background-size: cover;
    width: 29.3vw;
    height: 29.3vw;
}
.overlay{
    display: flex;
    flex-direction: column;
    background-color: #212529e3;
    width: 100%;
    height: 100%;
    position: relative;
    right: 100%;
    transition: all .4s ease-in-out ;
}
.card:hover .overlay{
    right: 0;
    transition: all .4s ease-in-out ;
}
.overlay .icons{
    display: flex;
    font-size: 2.2vw;
    padding: 1.46vw;  
}
.overlay a{
    color: white;
    margin: 0.36vw 0.73vw;
}
.overlay .description{
    color: white;
    padding: 0.73vw 2.2vw;
    font-family: 'Cantarell';
}


/* Contact */
.row{
    display: flex;
    justify-content: space-evenly;
    padding: 0.73vw 0px;
    align-items: center;
}
footer{
    background-color: #151414;
    margin-top: 2.92vw;    
    font-family: 'Cantarell';
    font-weight: 700;
}
.contact-box{
    display: flex;
    align-items: center;
    padding: 0.73vw;
}
.phone{
    background-image: url(/image/telephone.png);
}
.mail{
    background-image: url(/image/mail.png);
}
.location{
    background-image: url(/image/placeholder.png);
}
.contact-box__icon{
    display: inline-block;
    margin: 0px 0.73vw;
    width: 4.4vw;
    height: 4.4vw;
    background-size: cover;

}
.contact-box a{
    font-size: 1.83vw;
    color: #FFFFFF;
    text-decoration: none;
}
.contact-box p{
    font-size: 1.17vw;
    color: #6C757D;
}

.sm{
    background-color: #212529;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.36vw 0px;
}
.sm-logo a{
    color: rgb(255, 255, 255);
    font-size: 2.56vw;
    margin: 0px 0.36vw;
}
.sm-logo a:hover{
    color: #8845F4;
}
.sm p{
    font-size: 1.68vw;
    color: white;
}


.copyright{
    background-color: black;
    text-align: center;
    font-size: 1.46vw;
    color: #767676;
    padding: 0.73vw1.46vw 0px;
    display: flex;
    justify-content: center;
}
.copyright p{
    color: white;
    display: inline;
    margin-left: 1.46vw;
}


@media (max-width: 760px){
    .dropdown{
        display: block;
    }
    nav{
        padding: 15px 0px 0px 25px;
    }
    .item a{
        display: none;
    }
    .parent {
        grid-template-columns: 40vw 42vw 17.5vw;
        grid-template-rows: 33.7vw 15.1vw 22.1vw 21vw;
    }
    .div1 { grid-area: 1 / 1 / 2 / 3; }
    .div2 { grid-area: 2 / 2 / 5 / 4; }
    .div3 { grid-area: 1 / 3 / 2 / 4; }
    .div4 { grid-area: 4 / 1 / 5 / 2; }
    .div5 { grid-area: 2 / 1 / 4 / 2; }

    #intro{
        margin: 9.3vw 0 0 4.65vw;
        font-size: 8.6vw;
    }
    #dp{
        width: 55.8vw;
        height: 55.8vw;
        margin: 9.3vw 0 0 1.16vw;
    }
    #d1{   
        width: 17.2vw;
        height: 13.7vw;
        margin: 7vw 0 0 0;
    }
    #d2{
        width: 25.12vw;
        height: 20.93vw;
        margin: 10vw 0 0 0;
    }
    #cv{
        align-items: center;
        text-align: center;
        font-size: 3.72vw;
        margin: 9.3vw 0 0 2.32vw;
    }
    #cv a{
        width: 113px;
        height: 20px;
        border: 5px solid #8845F4;
        box-shadow: inset 2px 2px 6px rgba(0, 0, 0, 0.3);
        border-radius: 12px;
        font-size: 12px;
        margin-top: 20px;
        padding-top: 5px;
    }
    #about{
        background-image: url(/image/about_bgr.png);
        background-repeat: no-repeat;
        margin-top: 25px;
    }
    #about .image{
        display: none;
    }
    #about h1{
        font-size: 30px;
        text-align: center;
        margin-top: 50px;       
    }
    #about p{
        font-size: 20px;
        text-align: center;
        width: 97vw;
        margin-top: 10px;
    }

    #projects{
        flex-direction: column-reverse;
    }
    #projects .container1 {
        margin: 10px 0;
        grid-template-columns: repeat(2, 35.28vw) 23.36vw;
        grid-template-rows: repeat(3, 18.14vw);
        grid-column-gap: 0.58vw;
        grid-row-gap: 0.58vw;
        border: 0.58vw solid black;
    }  
    #projects h1{
        font-family: 'Cantarell';
        font-size: 30px;
        margin-top: 30px;
    }
    #projects .image{
        display: none;
    }
    .overlay .icons{
        display: flex;
        font-size: 5vw;
        padding: 2vw 0 0 2vw ;  
    }
    
    .row{
        flex-direction: column;
        padding: 0.73vw 0px;
        align-items: flex-start;
    }
    .contact-box{
        margin: 10px 0 0 0;
    }
    .contact-box__icon{
        margin: 0px 20px;
        width: 32px;
        height: 32px;
    }
    .contact-box a{
        font-size: 16px;
    }
    .contact-box p{
        font-size: 12px;
    }
    .sm{
        flex-direction: column;
        margin-top: 10px;
        padding: 10px;
    }
    .sm-logo a{
        font-size: 30px;
        margin: 0 10px;
    }
    .sm p{
        font-size: 16px;
        margin-bottom: 5px;
    }
    .copyright{
        font-size: 12px;
        padding: 0.73vw 1.46vw 0px;
    }
    .copyright p{
        margin-left: 5px;
    }
    }    